<!DOCTYPE html>
<html>
<head>
  <title>Doctors</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>All Doctors</h1>
  <a href="/doctors/new">Add New Doctor</a>
  <table border="1">
    <tr>
      <th>ID</th><th>Name</th><th>Specialization</th><th>Contact</th><th>Availability</th><th>Actions</th>
    </tr>
    <% doctors.forEach(d => { %>
    <tr>
      <td><%= d.id %></td>
      <td><%= d.name %></td>
      <td><%= d.specialization %></td>
      <td><%= d.contact %></td>
      <td><%= d.availability %></td>
      <td>
        <a href="/doctors/edit/<%= d.id %>">Edit</a>
        <a href="/doctors/delete/<%= d.id %>" onclick="return confirm('Delete this doctor?')">Delete</a>
      </td>
    </tr>
    <% }) %>
  </table>
</body>
</html>